{% extends 'index.html' %}

{% block title %}
{{ user.username }}的主页
{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <img src="{{ user.img }}">
            <div>
                <form action="/uploads/add" method="post" enctype="multipart/form-data">
                    选择文件：
                    <input type="file" name="uploaded" accept="application/vnd.ms-excel"/>
                    <input type="submit" value="上传"/>
                </form>
            </div>
            <div>用户名：{{ user.username }}</div>
            <div>发帖： {{ number_of_topics }}</div>
            <div>回帖： {{ number_of_comments }}</div>
            <div>
                <a href="{{ url_for('topic.user_index', id=user.id) }}">发帖列表： {{ number_of_topics }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}